@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body, h1, h2, h3, h4, h5, h6, p, ul, li, a {
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;

}

.colorPrincipal {
  color: #ffffff;
  background-color: #591259;
}

.colorSecundario {
  color: #000000;
  background-color: #e5d80e;
}

.colorTerciario {
  color: #ffffff;
  background-color: #484849;
}

.btn-colorPrincipal {
  color: #ffffff;
  background-color: #591259;
  border-color: #591259;
}

.btn-colorPrincipal:hover {
  color: #ffffff;
  background-color: #460e46;
  border-color: #460e46;
}

.btn-colorSecundario {
  color: #ffffff;
  background-color: #e5d80e;
  border-color: #e5d80e;
}

.btn-colorSecundario:hover {
  color: #ffffff;
  background-color: #9c930b;
  border-color: #9c930b;
}

.bg-purple{
  color: #ffffff;
  background-color: #59359a;
}

.bg-yellow {
  color: #ffffff;
  background-color: #cc9a06;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #ffffff;
}

li.nav-item:hover, .dropdown-item:focus,
.dropdown-item:hover {
  border-radius: 15px;
  background-color: #e5d80e;
}

a {
  text-decoration: none;
}

.list-group-item-secondary:hover{
  background-color: #e5d80e;
  cursor: pointer;
}

.centerWhite{
  color:#ffffff;
  text-align: center;
}

.fontAwEcommerce{
  font-size: 4rem;
}